.lefttwo__container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.fristrow__container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.services_tiles_container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.secondrow__container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.middle__tile {
  height: 95px;
  background-size: cover !important;
  border-radius: 20px;
  width: 326px;
  flex-grow: 1;
  flex-shrink: 0;
}