.tile__container {
  width: 156px;
  height: 155px;
  background-size: cover !important;
  border-radius: 20px;
}

.tile__title {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px 14px;
  backdrop-filter: blur(0.5px);
}

.tile__container__horizontal {
  width: 156px;
  height: 325px;
  border-radius: 20px;
  background-size: cover !important;
}

.tile__title__horizontal {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px 14px;
  backdrop-filter: blur(0.5px);
}

.tile__medium {
  width: 156px;
  height: 220px;
  background-size: cover !important;
  border-radius: 20px;
}