.pill__container {
  background-color: white;
  height: 40px;
  border-radius: 20px;
  margin: 0 16px;
  display: flex;
}

.pill__text{
  font-weight: 700;
  font-size: 16px;
  margin: 10px auto 10px 14px;
}