.services__header__container {
  background: #FFFFFF;
  border-radius: 10px;
  margin: 12px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.services__header__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.333333px;
}